* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header header"
        "section-1 section-1 section-1 section-1"
        "section-2 section-2 section-2 section-2"
        "section-3 section-3 section-3 section-3"
        "section-4 section-4 section-4 section-4"
        "footer footer footer footer";
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.section-1 {
    grid-area: section-1;
}

.section-2 {
    grid-area: section-2;
}

.section-3 {
    grid-area: section-3;
}

.section-4 {
    grid-area: section-4;
}


.container {
    display: block;
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin-bottom: 10px;
    align-items: center;

}

.logoCalavera {
    margin: 10px 5px 5px 10px;
    height: 150PX;
}

.header h1 {
    display: flex;
    color: white;
    font-style: oblique;
    justify-content: center;
}

.header h1:hover {
    color: rgb(188, 27, 27);
    transition: 1.5s;
}

.header a {
    color: azure;
    text-decoration: none;
}

.header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;


}

.header li {
    display: flex;
    margin: 20px 8px 0px 8px;

}

.header a:hover {
    color: rgb(188, 27, 27);
    font-weight: bold;
    transition: .5s;
}

.header form {
    display: flex;
    height: 25px;
}

.logoSearch {
    height: 25px;
}

.section-1 {
    display: flex;
    justify-content: center;
}

.section-1 li {
    list-style: none;
}

.section-2 {
    display: flex;
    justify-content: center;
}

.section-3 {
    display: flex;
    justify-content: center;
}

.productTitleBorder {
    border: solid black;
    margin: 5px 5px 5px 5px;
}

.productTitleStyle {
    display: flex;
    justify-content: center;
    color: white;
    background-color: black
}

.skate {
    display: flex;
    overflow: hidden;
}

.rueda {
    display: flex;
    overflow: hidden;
}

.imagenSkateStyle {
    border: solid black;
    border-radius: 5px;
    margin: 0px 10px 0px 10px;
    height: 700px;
}

.imagenRuedaStyle {
    height: 300px;
    border: solid black;
    border-radius: 5px;
    margin: 0px 10px 0px 10px;
}

.remera {
    display: flex;
    overflow: hidden;
}

.imagenRemeraStyle {
    height: 300px;
    border: solid black;
    border-radius: 5px;
    margin: 0px 10px 0px 10px;
}

.footer p {
    color: white;
    width: 200px;
}

.footer {
    background-color: black;
}

.footerAccountLogos {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin: 10px 50px 10px 50px;
}

.fa-brands {
    font-size: 5rem;
}
/* .footer i {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 300px;
} */

@media (max-width: 1500px) {
    .imagenSkateStyle {
        height: 500px;
    }

    .imagenRuedaStyle {
        height: 200px;
    }

    .imagenRemeraStyle {
        height: 200px;
    }
}


@media (max-width: 850px) {
    .header {
        padding: 30px 0px 30px 0px;
        flex-direction: column;
    }

    .header img {

        display: none;
    }

    .header form {
        display: none;
    }
}

@media (max-width: 660px) {
    .skate{
        display: flex;
        flex-direction: column;
    }
    .rueda{
        display: flex;
        flex-direction: column;
    }
    .remera{
        display: flex;
        flex-direction: column;
    }
} 